<template>
  <!-- **********************************************************************************************************************************************************
  MAIN SIDEBAR MENU
  *********************************************************************************************************************************************************** -->
  <!--sidebar start-->
  <aside>
      <div id="sidebar"  class="nav-collapse ">
          <!-- sidebar menu start-->
          <ul class="sidebar-menu" id="nav-accordion">

              <p class="centered"><a href="profile.html"><img src="assets/img/small_logo.jpg" class="img-circle" width="60"></a></p>
              <h5 class="centered">${name}</h5>

              <li class="mt">
                  <a class="active" href="#">
                      <i class="fa fa-dashboard"></i>
                      <span>Dashboard</span>
                  </a>
              </li>

              <li class="mt" repeat.for="club of clubs">
                  <a href="#club/${club.id}">
                      <i class="fa fa-users"></i>
                      <span>${club.name}</span>
                  </a>
              </li>

              <li class="mt">
                  <a href="#club/create">
                  <span>Create a new club +</span>
                  </a>
              </li>

          </ul>
          <!-- sidebar menu end-->
      </div>
  </aside>
  <!--sidebar end-->

  <!-- **********************************************************************************************************************************************************
  MAIN CONTENT
  *********************************************************************************************************************************************************** -->
  <!--main content start-->
  <section id="main-content">
      <section class="wrapper">

          <div class="row">
              <div class="col-lg-9 main-chart">

                <div class="row mtbox">
                  <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
                    <div class="box1">
              <span class="li_heart"></span>
              <h3>933</h3>
                    </div>
              <p>933 People liked your page the last 24hs. Whoohoo!</p>
                  </div>
                  <div class="col-md-2 col-sm-2 box0">
                    <div class="box1">
              <span class="li_cloud"></span>
              <h3>+48</h3>
                    </div>
              <p>48 New files were added in your cloud storage.</p>
                  </div>
                  <div class="col-md-2 col-sm-2 box0">
                    <div class="box1">
              <span class="li_stack"></span>
              <h3>23</h3>
                    </div>
              <p>You have 23 unread messages in your inbox.</p>
                  </div>
                  <div class="col-md-2 col-sm-2 box0">
                    <div class="box1">
              <span class="li_news"></span>
              <h3>+10</h3>
                    </div>
              <p>More than 10 news were added in your reader.</p>
                  </div>
                  <div class="col-md-2 col-sm-2 box0">
                    <div class="box1">
              <span class="li_data"></span>
              <h3>OK!</h3>
                    </div>
              <p>Your server is working perfectly. Relax & enjoy.</p>
                  </div>

                </div><!-- /row mt -->


                  <div class="row mt">


        <div class="col-md-4 mb" repeat.for="event of events">
          <a href="#club/${event.clubId}/events/${event.id}">
            <!-- WHITE PANEL - TOP USER -->
            <div class="white-panel pn">
              <div class="white-header">
                <h5>${event.name}</h5>
              </div>
              <p><img src="assets/img/ui-danro.jpg" class="img-circle" width="80"></p>
              <p><b></b></p>
              <div class="row">
                <div class="col-md-6">
                  <p class="small mt"># OF READERS</p>
                  <p>${event.readers.length}</p>
                </div>
                <div class="col-md-6">
                  <p class="small mt">END DATE</p>
                  <p>${event.endDate}</p>
                </div>
              </div>
            </div>
          </a>
        </div><!-- /col-md-4 -->


      </div><!-- /row -->
      </div><!-- /col-lg-9 END SECTION MIDDLE -->



              </div><!-- /col-lg-3 -->
          </div><! --/row -->
      </section>
  </section>
</template>
